@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&display=swap');
body{
    background: url("galaxy.jpg") repeat-x;
    background-size: cover;
    font-family: 'Kolker Brush';
}

div{
    background: rgb(76, 153, 0);
    color: darkorange;
    font-family: 'Arial';
    letter-spacing: 10px;
    word-spacing: 50px;
}
.purplebackground{
    background: #9933FF;
    color: yellow;
} 
#sampleId{
    color:blue;
} 
.sampleBox{
    background: blue;
    margin: 10px 20px 30px 40px;
    padding: 40px 20px 30px 40px;
    border: 10px ridge gray;
    box-shadow: 4px 2px 28px -8px rgba(125, 31, 125, 0.7);
    font-size:50px;
    font-family: 'Kolker Brush', Arial, Helvetica, sans-serif;
    font-weight: light;
    /*bold, bolder, light, normal*/
    font-style: italic;
    text-transform: capitalize;
    text-decoration: line-through;
    text-align: right;
}
.overflowSample{
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    text-indent: 20px;
}